.container{
    background-color: #00b4d8;
    width: 100%;
    max-width: 70%;
    height: 100%;
    position: absolute;
    margin-left: 15%; 
    margin-right: 15%;

}

.side-bar{
  position: absolute;
  margin-left: 50%;
  margin-right: 0%;
  width: 50%;   
  height: 890px;
  background-color: #caf0fc; 
}

.logo-name{
  position: absolute;
  align-content: center;
  bottom: 10px;
  left: 75px;
  color: white;
  font-size: 2rem;
  font-family: 'Pacifico', cursive;
}


ul {
    position: relative;
    width: auto;
    height: 64px;
    background-color: #030450;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    top: 5%;
    padding: 14px 18px;
    text-decoration: none;

  }
  li a:hover {
    background-color: #00b4d8;
  }

.branding-quote{
    position: absolute;
    margin-right: 5%;
    margin-left: 5%;
    width: 40%;
    top: 126.75px;
    height: 250px;
    background-color: none;
    font-size: 2rem;
    text-align: left;
    text-transform: capitalize;
}

p{
    color: white;
}


.about{
  position: absolute;
  margin-right: 5%;
  margin-left: 5%;
  width: 40%;
  height: 200px;
  top: 700px;
  padding-left: -5%;
  padding-right: -5%;
  border-radius: 12px;
  text-align:center;
  text-transform: capitalize;
  background-color: #0077B0;
}

.about-btn{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    align-self: center;
    padding: 12px 28px;
    width: 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    background-color: white;
    color: black;
    border: 2px solid #0077B0;
}

.button{
    transition-duration: 0.4s;
  }
  
  .about-btn:hover {
    background-color: #030450;
    color: white;
  }

  
  * {box-sizing:border-box}

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    top:5%;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
